{% extends 'UserBundle::base.html.twig' %}

{% block title %}Authentification{% endblock %}
    {% block body %}

        
    <div class="container">
        <div class="row" style="height: inherit;">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center">Bienvenu sur votre carnet d'adresse</h1>
                <div class="account-wall">
                    {% if error %}
                        <div class="alert alert-danger">
  <strong> Identifiant invalide</strong>
</div>
                        <div></div>
                    {% endif %}
                    <div id="my-tab-content" class="tab-content">

                        <div class="tab-pane active" id="login">

                            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <input id="username" name="_username" value="{{ last_username }}" type="text" class="form-control" placeholder="Username" required autofocus>
                                <input id="password" name="_password" type="password" class="form-control" placeholder="Password" required>
                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Se connecter" />
                            </form>
                            <div id="tabs" data-tabs="tabs">
                                <p class="text-center"><a href="#register" data-toggle="tab">Pas encore inscrit ?</a></p>
                            </div>
                        </div>
                        <div class="tab-pane" id="register" style="height: inherit;">
                            <form class="form-signin" action="{{ path('fos_user_registration_register') }}" method="post" class="fos_user_registration_register">
                                {{ form_row(form.name) }}
                                {{ form_row(form.surname) }}
                                {{ form_row(form.username) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.phone) }}
                                {{ form_row(form.address) }}
                                {{ form_row(form.website) }}
                                {{ form_row(form.plainPassword) }}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {{ form_row(form.parent_id, {'value' : app.user.id}) }}
                                {% else %}
                                    {{ form_row(form.parent_id, {'value' : 0 }) }}
                                {% endif %}
                                {{ form_rest(form) }}

                                <input type="submit" class="btn btn-lg btn-default btn-block" value="S'inscrire" />
                            </form>
                            <div id="tabs" data-tabs="tabs">
                                <p class="text-center"><a href="#login" data-toggle="tab">Déjà enregistré?</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}


